.imageMe {
    width: 190px;
    height: 190px;
    border-radius: 30px 0 30px 0;
    flex: none;
    margin: 38px 10px;
}
.aboutMe
{
    width: 488.4px;
    height: 270px;;
    border-radius: 30px;
    

}
.background {
    background: linear-gradient(120deg, rgba(229, 225, 225, 0.05), rgba(229, 225, 225, 0.05));
    /* background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); */
}
.flexme {
    display: flex;
    justify-content: space-evenly;
}
.descMe
{
    margin-top: 28px;
    word-wrap: break-word;
    word-break: break-all;
    width: 165px;
    
}

.shadowBox {
    position: relative;
    border-radius: 30px;
    background: #0F0F0F;
}
.openToWork {
    margin-bottom: 24px;
    border-radius: 30px;
    width: 462.2px;
    height: 53px;
}

.profile {
    width: 342.5px;
    height: 284.4px;
    border-radius: 30px;
}
.aboutBtn {
    opacity: 0.2;
    transition: .3s;
    display: inline-block;
}
.aboutBtn:hover {
    opacity: 1;
}
.imgProfiles {
    width: 60px;
    height: 60px;
    flex: none;
    margin: 38px 10px;
}

.experience {
    width:549px;
    height: 228.2px;
    border-radius: 30px;
}
.experienceSub {
    width: 151px;
    height: 180.2px;
        z-index: 3;
        /* opacity: 0.2; */
        background: linear-gradient(120deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.05));
        border-radius: 30px;
        content: "";
        /* linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); */
}

.arrangeSubItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marginShiftBottom{
    margin-bottom:-1px;
    margin-top: 40px;
}
.lwt {
    width: 549px;
    height: 229px;
    border-radius: 30px;
}
.marginL80{
    margin-left: 80px;
}

.credentials {
    width: 274.5px;
    height:284.4px;
    border-radius: 30px;
}