.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}
.navbar ul  {
    display: flex;
}
.navbar ul li {
    list-style-type: none;
    margin: 0 20px;
}
.box {
    color: #9f9f9f;
    transition: color 0.3s;
}
.box:hover {
    color: #fff;
}
.active
{
    color: #fff;
}

.button {
   background-color:  #323232;
    transition: color 0.3s;
    padding: 12px 30px;
    border-radius: 7px;
    color: #fff !important;
}

.button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: #323232 !important;
}
