body {
    font-family: 'Rubik', sans-serif;
    background: #0F0F0F;
}

.grey_color {
    color: #9f9f9f;
}
.grey_color2 {
    color : #BCBCBC;
}
.white_color {
    color: #fff;
}
.font14 {
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font25 {
    font-size:35px;
}
.font30 {
    font-weight:30px !important;
}
.fontW500{
    font-weight: 500;
}
.fontW700{
font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.flex {
    display: flex;
}